<div class="container" th:fragment = "header" >
  <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="https://vk.com/a.kolesinsky" _msttexthash="2387801" _msthash="6" style="color: black!important;">Подписываться</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/" _msttexthash="986219" _msthash="7" style="color: black!important;">Твой дом здесь</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="/login" _msttexthash="1860755" _msthash="10" style="color: black!important;">Регистрация</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-3 border-bottom" style="overflow-x: auto;">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis" href="/properties" _msttexthash="335348" _msthash="11" style="color: black!important;">Недвижимость</a>
      <a onclick="openPopupAdd()" class="nav-item nav-link link-body-emphasis" _msttexthash="328523" _msthash="12" style="font-style: italic; color: black!important;">+объявение</a>
      <a class="nav-item nav-link link-body-emphasis" href="/panel" _msttexthash="1615887" _msthash="13" style="color: black!important;">Мои объявления</a>
    </nav>
  </div>
  <script>
    // Get the current URL
    var currentUrl = window.location.href;

    // Get all the nav links
    var navLinks = document.getElementsByClassName("nav-link");

    // Loop through the nav links
    for (var i = 0; i < navLinks.length; i++) {
      var link = navLinks[i];

      // Check if the link's href matches the current URL
      if (link.href === currentUrl) {
        // Add the "active" class to the link
        link.classList.add("active");
      }
    }

  </script>


</div>

